<% a = 0 %>
<ol>
<% @cart.items.each do |item| %>
<li>
  <%= item.title %><br>
  <%= item.description %><br>
  $<%= item.price %>
  <% a += item.price %>
</li>
<% end %>
</ol>
<p> Prix total: $<%= a %></p>
