<!-- Page Header-->
<section class="module-page-title bg-gray">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="page-title-desc">
                    <h1 class="page-title-heading"><%= @item.title.capitalize %></h1>
                    <!--p This theme will shake your world.-->
                </div>
            </div>
            <div class="col-md-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Shop</a></li>
                    <li class="breadcrumb-item active"><%= @item.title.capitalize %></li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!-- Page Header end-->
