<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <title>New order</title>
  </head>
  <body>
    <h1>New order on your shop</h1>
      <p>
      The following order has been placed successfully:
      </p>
      <ul>
        <% @order.line_items.each do |i| %>
        <li>
          <%=i.product.name%>
          <br>
          <%=i.quantity%> @ <%= i.total_price %>
        </li>
        <br>
        <% end %>
      </ul>
      <p>Grand Total: $ <%= @order.total %></p>
  </body>
</html>
