<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <title>Your order</title>
  </head>
  <body>
    <h1>New order on your shop</h1>
  </body>
</html>
