<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Welcome to Chaton4Life, <%= @user.email %></h1>
  <p>
    You have successfully registered for Chaton4Life,
    your login is: <%= @user.email %>.<br>
  </p>
  <p>Have an awesome day!</p>
  <p>- Your friends at Chaton4Life</p>
</body>
</html>
